.app {
  height: 100vh;
  width: 100vw;
  box-sizing: border-box;
  background-color: #dadbd3;
  display: grid;
  place-items: center;
}

.app__body {
  display: flex;
  background-color: #ededed;
  height: 93vh;
  width: 96vw;
  box-sizing: border-box;
  box-shadow: -1px 4px 20px 10px rgba(0, 0, 0, 0.2);
}
